.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p {
  font-family: 'Lato', sans-serif;
  font-size:1.25em;
}

.navBar {
  width:100%;
  /*position:fixed;*/
  color:#6a5b7f;
  height:5vh;
  min-height:5em;
  background-color:#fff;
  /*box-shadow: 5px 0px 5px #888888;*/
}

.navBar h1 {
  float:left;
  padding-left:0.5em;
  font-family:Arvo,serif;
}

.mobile-menu {
  display:none;
}

.menu {
  list-style:none;
  float:right;
}

.menu li{
  display:inline;
  padding-right:2em;
  line-height:5em;
  color:#6a5b7f;
}

.btn{
  background-color:#ffeb99;
  border-radius:70em;
}

.getStarted {
  margin-top:2em;
  padding: 15px 44px 15px 44px;
  color: #6a5b7f;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
}

.work {
  background-color: #D8C9E9;
}

h3{
  margin-top:3em;
  margin-bottom:3em;
}

.step{
  padding:0em 2em 6em 2em;
}

.step h4 {
  text-align: left;
  font-family: 'Arvo', serif;
}

.step p {
  text-align: left;
}

.mainDesc {
  text-align: left;
  font-family: 'Lato', sans-serif;
  margin-bottom: 50px;
  padding-top:7em;
}

.work h3 {
  color: #6a5b7f;
  text-align: left;
}

.img-step{
  width:75%;
  text-align:center
}

@media only screen and (max-width:600px) {
  .menu {
    display:none;
  }

  .mobile-menu{
    display:block;
    float:right;
    line-height:5em;
    padding-right:1em;
  }

  .mobile-menu img{
    width:8vw;
    min-width:2.5em;
  }
}

.stepHeader {
  color: #fff;
  font-size: 30px;
}