.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navBar {
  border-bottom: 1px solid #777;
  color:#6a5b7f;
  height:5vh;
  min-height:5em;
}

.navBar h1 {
  float:left;
  padding-left:0.5em;
}

.mobile-menu {
  display:none;
}

.menu {
  list-style:none;
  float:right;
}

.menu li{
  display:inline;
  padding-right:2em;
  line-height:5em;
  color:#6a5b7f;
}

.btn{
  background-color:#ffeb99;
  border-radius:70em;
}

.work {
  background-color: #b8a7d1;
}

.work h3 {
  color: #6a5b7f;
}

@media only screen and (max-width:600px) {
  .menu {
    display:none;
  }

  .mobile-menu{
    display:block;
    float:right;
    line-height:5em;
    padding-right:1em;
  }

  .mobile-menu img{
    width:8vw;
    min-width:2.5em;
  }
}